theme {
  --el-color-primary: #9C27B0;
  --el-color-primary-light-1: #4A148C;
  --el-color-primary-light-2: #6A1B9A;
  --el-color-primary-light-3: #7B1FA2;
  --el-color-primary-light-4: #8E24AA;
  --el-color-primary-light-5: #AB47BC;
  --el-color-primary-light-6: #BA68C8;
  --el-color-primary-light-7: #CE93D8;
  --el-color-primary-light-8: #E1BEE7;
  --el-color-primary-light-9: #F3E5F5;
  --el-color-success: #67c23a;
  --el-color-success-light: #e1f3d8;
  --el-color-success-lighter: #f0f9eb;
  --el-color-warning: #e6a23c;
  --el-color-warning-light: #faecd8;
  --el-color-warning-lighter: #fdf6ec;
  --el-color-danger: #f56c6c;
  --el-color-danger-light: #fde2e2;
  --el-color-danger-lighter: #fef0f0;
  --el-color-error: #f56c6c;
  --el-color-error-light: #fde2e2;
  --el-color-error-lighter: #fef0f0;
  --el-color-info: #909399;
  --el-color-info-light: #e9e9eb;
  --el-color-info-lighter: #f4f4f5;
  --el-bg-color: #f5f7fa;

  --el-btn-active-color: #AA00FF;
}