theme {
  --el-color-primary: #F44336;
  --el-color-primary-light-1: #B71C1C;
  --el-color-primary-light-2: #C62828;
  --el-color-primary-light-3: #D32F2F;
  --el-color-primary-light-4: #E53935;
  --el-color-primary-light-5: #EF5350;
  --el-color-primary-light-6: #E57373;
  --el-color-primary-light-7: #EF9A9A;
  --el-color-primary-light-8: #FFCDD2;
  --el-color-primary-light-9: #FFEBEE;
  --el-color-success: #67c23a;
  --el-color-success-light: #e1f3d8;
  --el-color-success-lighter: #f0f9eb;
  --el-color-warning: #e6a23c;
  --el-color-warning-light: #faecd8;
  --el-color-warning-lighter: #fdf6ec;
  --el-color-danger: #f56c6c;
  --el-color-danger-light: #fde2e2;
  --el-color-danger-lighter: #fef0f0;
  --el-color-error: #f56c6c;
  --el-color-error-light: #fde2e2;
  --el-color-error-lighter: #fef0f0;
  --el-color-info: #909399;
  --el-color-info-light: #e9e9eb;
  --el-color-info-lighter: #f4f4f5;
  --el-bg-color: #f5f7fa;

  --el-btn-active-color: #D50000;
}